.formStyle {
  /* display: inline-block; */
  text-align: center;
  width: 40%;
  padding: 2.5rem;
  margin-top: 6rem;
  box-shadow: var(--div-shadows);
  background-color: white;
}

.authLinkStyle {
  color: var(--primary-color);
  padding: 0.2rem;
  transition: all 0.5s ease 0s;
  border: none;
  background-color: white;
  cursor: pointer;
}

.authLinkStyle:hover {
  background-color: #d9e6ffc1;
}
.auth_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10% 0 20%;
  align-items: center;
  justify-content: space-around;
}
.auth_div > * {
  padding: 30px;
}
.auth_div > h1 {
  font-size: 6rem;
  line-height: 0.8;
  color: white;
  font-weight: 900;
}
.auth_div form {
  width: 70%;
  margin-left: 50px;
}
