.formStyle {
  /* display: inline-block; */
  text-align: center;
  width: 40%;
  padding: 2.5rem;
  margin-top: 6rem;
  background-color: var(--web-splash);
  color: var(--text-color);
  position: relative;
}
.formStyle input {
  background-color: var(--splash) !important;
  color: var(--text-color) !important;
  border: none !important;
}
.formStyle input:focus,
.formStyle input:active {
  background-color: var(--splash) !important;
}
.authLinkStyle {
  color: var(--primary);
  padding: 0.2rem;
  transition: all 0.5s ease 0s;
  border: none;
  background-color: var(--web-splash);
  cursor: pointer;
}

.auth_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10% 0 20%;
  align-items: center;
  justify-content: space-around;
}
.auth_div > * {
  padding: 30px;
}
.auth_div > h1 {
  font-size: 6rem;
  line-height: 0.8;
  color: var(--text-color);
  font-weight: 900;
}
.auth_div form {
  width: 70%;
  margin-left: 50px;
}
