.cover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'lside postarea rside';
  gap: 0.3rem;
  align-items: flex-start;
}
.cover > div:not(.left-sidebar) {
  padding: 1rem;
}
.post_area {
  grid-area: postarea;
  background-color: inherit;
  padding-top: 0 !important;
}
.post_form-header {
  width: 100%;
  padding: 10px;
  background-color: #dfdfdf74;
  text-align: left;
  font-weight: bold;
}
.post_area > form,
.post_form {
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(214, 214, 214, 0.469);
  /* box-shadow: var(--div-shadows); */
}
.post_form {
  max-height: 600px;
  overflow-y: auto;
  box-shadow: none;
}
.post_field {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.post_area textarea,
.post_form textarea {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: x-large;
  border: none;
  border-bottom: 1px solid rgba(214, 214, 214, 0.469);
  resize: none;
}
.post_area textarea:focus,
.post_form textarea:focus {
  outline: none;
}
.right_sidebar {
  grid-area: rside;
  background-color: var(--web-splash);
  position: fixed;
  width: 14%;
  right: 13%;
  /* box-shadow: var(--div-shadows); */
}
.right_sidebar > a {
  color: black;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.right_sidebar > a:last-child {
  border: none;
}
.right_sidebar > a > p {
  flex: 3;
  margin: 0;
}
.right_sidebar > a > img {
  margin-right: 10px;
  border-radius: 50%;
}
.right_sidebar > a > span {
  height: 6px;
  width: 6px;
  background-color: greenyellow;
  border-radius: 60%;
}
.friends_section,
.photos_section {
  padding: 20px 5px;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 5px;
}
.showcase > div,
.showcase > img {
  width: 101px;
  height: 70px;
  background-color: gray;
}
.fixed-style {
  position: sticky;
  width: 230px;
  top: -130px;
}
.user_stats {
  text-align: right;
  padding: 10px 32px;
}
.user_stats p {
  line-height: 0.3;
}
.user_stats span {
  font-weight: 900;
}
.notification_item {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.notification_item > span > span {
  font-size: 12px;
  color: gray;
}
.unread .unread-alert {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  right: 20px;
}
.unread > span > span {
  color: var(--primary-color);
}
