/* CSS for animated bouncing loader. */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Loader circles */
.loader > span {
  background: steelblue;
  border-radius: 50%;
  margin: 0.1rem 0.2rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Define the animation called bouncingLoader. */
@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
  }
  to {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #008ecc;
  }
}
