.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.823);
  overflow: scroll;
}
.modal-content {
  margin: 6.5% auto;
  /* border: 1px solid #888;
  background-color: white; */
  overflow-y: initial !important;
}

/* modal message box styling */
.modal-content-msg {
  width: 500px;
  margin: 200px auto;
  height: 200px;
  background-color: var(--web-splash);
  color: var(--text-color);
  position: relative;
  border-radius: 10px;
}
.modal-msg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  margin: 0 30px;
  border-top: 1px solid var(--extra);
}
.modal-msg-bottom button {
  float: right;
  padding: 5px 20px;
  border: none;
  background-color: rgb(186, 0, 0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}
.modal-msg-bottom button:hover {
  background-color: rgba(186, 0, 0, 0.925);
}
.modal-msg {
  padding: 10px 0px 0px 30px;
}

/* create new message user search */
.modal-user-search {
  width: 400px;
  height: auto;
  margin: 100px auto;
  background-color: #2d2d2d;
  color: white;
  padding: 1rem;
  position: relative;
}
.modal-user-search > input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
}
.user-msg-results {
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #18191a;
}
.user-msg-results > li {
  list-style-type: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  padding: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-msg-results li > img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
  border-radius: 50%;
}
