.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.775);
  overflow: scroll;
}
.modal-content {
  margin: 6.5% auto;
  border: 1px solid #888;
  background-color: white;
  overflow-y: initial !important;
}
.modal-content .head {
  width: 100% !important;
  background-color: #dfdfdf74;
  font-weight: bolder;
  padding: 10px;
  text-align: left;
  margin: 0px !important;
}
.modal-content .head i {
  float: right;
}
.modal-content .head i:hover {
  cursor: pointer;
}
.close {
  width: 100% !important;
  height: 30px !important;
  margin: 0 !important;
  background-color: black;
}
.close i {
  float: right;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.extra_content {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}
.extra_content *:not(input) {
  flex: 1;
}
.extra_content button {
  border: 0;
  padding: 7px;
  margin-left: 12px;
  line-height: normal;
  font-size: medium;
  font-weight: normal;
  background-color: #008ecc;
  cursor: pointer;
}
.post_image-modal {
  width: 100%;
  height: 100%;
}
.image_modal {
  width: 70%;
  height: 70%;
  position: relative;
}
