#root > div {
  margin-top: 100px;
}
li,
a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}
/*
.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
*/

.logo {
  padding: 10px 10px 0 10px;
  margin: 8px 0 5px 40px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo:hover {
  color: var(--primary);
}
.logo_icon {
  color: var(--primary) !important;
  font-size: 40px !important;
  margin: 0 !important;
}
.button {
  padding: 9px 25px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
@media only screen and (min-width: 1000px) {
  .logo {
    margin-right: 70px;
    border: none;
    padding: 0px;
    cursor: pointer;
    color: #7e7e7e;
  }
  /* .btn {
    border: 0;
    background: #24252a;
    color: wheat;
    padding: 1rem;
  } */
}

/*================================================================================*/
/* The navigation bar */
.navbar {
  overflow: visible;
  background-color: var(--web-splash);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  right: 0;
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  z-index: 99;
  color: var(--text-color);
  margin: 0 !important;
  box-shadow: 0.5px 0.5px 20px 0px black;
}
.navbar i {
  color: var(--secondary);
  font-size: large;
  transition: color 0.3s ease 0s;
}
.navbar i:hover {
  color: var(--primary);
}
/* .navbar > div {
  float: right;
} */
/* Links inside the navbar */
.auth_buttons a {
  float: right;
  /* display: block; */
  color: var(--secondary);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  flex: 1;
}
/* Change background on mouse-over */
.navbar a:hover {
  color: var(--primary);
}
.request_button {
  /* float: right; */
  border: none;
  color: white;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.accept_request {
  right: 80px;
  background-color: var(--primary);
}
.reject_request {
  background-color: rgb(206, 0, 0);
}
.accept_request:hover {
  background-color: #006d9b;
}
.reject_request:hover {
  background-color: rgb(150, 0, 0);
}
.request_sender {
  color: black;
  transition: all 0.3s ease 0s;
}
.number {
  z-index: 99;
  width: 14px;
  height: 14px;
  padding: 7.4px 2px 1px 2px;
  background-color: red;
  position: absolute;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 0.1px;
}
.request-number {
  top: -5px;
  right: 30px;
}
.notification-number {
  top: -5px;
  right: 85px;
}
.search-div {
  width: 50%;
}
.search_form {
  flex: 1;
}
.search_form i {
  font-size: 10px;
}
.search_form div {
  width: 40%;
  border-bottom: 1px solid var(--extra);
}
.search_form input {
  width: 90%;
  padding: 6px;
  border: none;
  transition: all 0.3s ease 0s;
  background-color: var(--web-splash);
  color: var(--text-color);
}
.search_form input:focus {
  outline: none;
  width: 50%;
}
.search_results {
  min-height: 40px;
  max-height: 500px;
  width: 400px;
  background-color: var(--web-splash);
  color: var(--text-color);
  position: absolute;
  top: 50px;
  left: 380px;
  z-index: 999;
  padding: 10px;
  /* box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15) !important; */
}
.search_results .ui.loader.active {
  top: 25px;
}
.search_results .ui.loader.active::after,
.search_results .ui.loader.active::before {
  width: 1.6rem;
  height: 1.6rem;
}
.search_results a {
  color: black;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--extra);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* .search_results a:hover {
  background-color: #ebebeb;
} */
.stuff {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-evenly;
}
