* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  width: 100%;
  height: 100%;
  background-image: url(../Images/bgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
} */
#root > div {
  margin-top: 100px;
}
li,
a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
/*
.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
*/

.logo {
  padding: 10px 10px 0 10px;
  margin: 8px 0 5px 40px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo:hover {
  color: var(--primary-color);
}
.logo_icon {
  color: var(--primary-color) !important;
  font-size: 40px !important;
  margin: 0 !important;
}
/* .list_items {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
} */

/* .list_items li {
  padding: 0px 20px;
  margin: 10px 0;
}

.list_items li a {
  transition: all 0.3s ease 0s;
}

.list_items li a:hover {
  color: aqua;
} */

.button {
  padding: 9px 25px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
/*
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  color: wheat;
}
.btn {
  border: 0;
  background: wheat;
  color: #24252a;
  padding: 1rem;
} */

@media only screen and (min-width: 1000px) {
  body {
    background-color: white;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  li,
  a,
  button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  /* .nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
  } */

  .logo {
    margin-right: 70px;
    border: none;
    padding: 0px;
    cursor: pointer;
    color: #7e7e7e;
  }
  /* .list_items {
    display: block;
    list-style: none;
  }

  .list_items li {
    display: inline-block;
    padding: 0px 20px;
  }

  .list_items li a {
    transition: all 0.3s ease 0s;
  }

  .list_items li a:hover {
    color: #0088a9;
  } */

  /* .container {
    display: grid;
    grid-template-rows: repeat(6, 200px);
  } */
  /* .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2 / span 1;
    color: black;
  } */
  .btn {
    border: 0;
    background: #24252a;
    color: wheat;
    padding: 1rem;
  }
}

/*================================================================================*/
/* The navigation bar */
.navbar {
  overflow: visible;
  background-color: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  right: 0;
  padding: 0 200px;
  box-shadow: 5px 5px 10px var(--primary-border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  z-index: 99;
  color: #24252a;
  margin: 0 !important;
}
.navbar i {
  color: #7e7e7e;
  font-size: large;
  transition: color 0.3s ease 0s;
  margin-right: 10px;
}
.navbar i:hover {
  color: var(--primary-color);
}
/* .navbar > div {
  float: right;
} */
/* Links inside the navbar */
.auth_buttons a {
  float: right;
  /* display: block; */
  color: #7e7e7e;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  flex: 1;
}
/* Change background on mouse-over */
.navbar a:hover {
  color: #0088a9;
}
.request_button {
  /* float: right; */
  border: none;
  color: white;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.accept_request {
  right: 80px;
  background-color: var(--primary-color);
}
.reject_request {
  background-color: rgb(206, 0, 0);
}
.accept_request:hover {
  background-color: #006d9b;
}
.reject_request:hover {
  background-color: rgb(150, 0, 0);
}
.request_sender {
  color: black;
  transition: all 0.3s ease 0s;
}
.number {
  z-index: 99;
  width: 14px;
  height: 14px;
  padding: 7.4px 2px 1px 2px;
  background-color: red;
  position: absolute;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 0.1px;
}
.request-number {
  top: 14px;
  right: 315px;
}
.search-div {
  width: 50%;
}
.search_form {
  flex: 1;
}
.search_form i {
  font-size: 10px;
}
.search_form div {
  width: 40%;
  border-bottom: 1px solid rgba(199, 199, 199, 0.796);
}
.search_form input {
  width: 90%;
  padding: 6px;
  border: none;
  transition: all 0.3s ease 0s;
}
.search_form input:focus {
  outline: none;
  width: 50%;
}
.search_results {
  min-height: 40px;
  max-height: 500px;
  width: 400px;
  background-color: white;
  color: black;
  position: absolute;
  top: 50px;
  left: 380px;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
}
.search_results .ui.loader.active {
  top: 25px;
}
.search_results .ui.loader.active::after,
.search_results .ui.loader.active::before {
  width: 1.6rem;
  height: 1.6rem;
}
.search_results a {
  color: black;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.462);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.search_results a:hover {
  background-color: #ebebeb;
}
