.post_display {
  background-color: white;
  min-height: 100px;
  margin-top: 20px;
  max-width: 100%;
}
.post_meta {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
}
.post_author {
  margin: 0 !important;
  color: var(--primary-color);
}
.post_date {
  color: #363636ad;
  font-size: 10px;
}
/* .post_info {
  margin-left: 5px;
} */
.post_content {
  font-size: 24px;
  font-weight: bolder;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 40px;
  padding-left: 20px;
  line-height: 30px;
  white-space: pre-wrap;
}
.post_content-long {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 10px 10px 20px;
}
.post_actions {
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid black; */
  /* rgba(198, 198, 198, 0.626) */
}
.post_actions-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.post_actions-button-active {
  color: var(--primary-color);
}
.post_actions-button:hover {
  color: var(--primary-color);
}
.post_content-image {
  width: 100%;
  min-height: 300px;
}
.post_image {
  width: 100%;
  height: 500px;
  cursor: pointer;
}
.post_image > img {
  width: 100%;
  height: 100%;
}
.post_image-info {
  padding: 10px 0 10px 20px;
  white-space: pre-wrap;
}
.post-comments_section {
  padding: 20px;
  background-color: white;
  position: relative;
  min-height: 100px;
}
.post_comment-form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top: 1px solid rgba(198, 198, 198, 0.626);
  border-bottom: 1px solid rgba(198, 198, 198, 0.626);
}
.post_comment-form > i,
.post_comment-form button {
  flex: 1;
}
.post_comment-form > i {
  margin-top: 6px;
}
.post_comment-form > button {
  border: none;
  background-color: #e4e4e4;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.post_comment-form > button:hover {
  color: #e4e4e4;
  background-color: var(--primary-color);
}
.post_comment-form > input {
  background-color: #e4e4e4;
  flex: 10;
  border: none;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.post_comment-form > input:focus {
  outline: none;
}
.comment-loader {
  top: 30%;
}
.comment {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.comment > i {
  flex: 1;
  margin-top: 9px;
}
.comment_text {
  flex: 8;
  padding: 10px;
  background-color: rgba(241, 240, 240, 0.961);
  border: none;
  border-radius: 30px;
  font-size: small;
}

.nocomment_text {
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 10px;
  color: #252525bf;
  margin-top: 20px;
}
/* file styling */
[type='file'] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type='file'] + label {
  border: none;
  background-color: inherit;
  border-radius: 5px;
  color: rgb(69, 171, 69);
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding-left: 1.6rem;
  font-weight: 600;
  /* margin-bottom: 1rem; */
  outline: none;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.btn-2 {
  background-color: #99c793;
  border-radius: 50px;
  overflow: hidden;
}
.btn-2::before {
  color: #fff;
  content: '\f382';
  font-family: 'Font Awesome 5 Pro';
  font-size: 100%;
  height: 100%;
  right: 130%;
  /* line-height: 3.3; */
  position: absolute;
  /* top: 0px; */
  transition: all 0.3s;
}
.options_icon {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
}
.post_share-info {
  margin: 10px 0 0 20px;
  padding: 20px;
  border-left: 5px solid rgba(128, 128, 128, 0.211);
}
.post_stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  color: rgba(128, 128, 128, 0.694);
  background-color: white;
  padding: 20px 0 5px 20px;
}
.like_stats {
  grid-column: 1;
}
.comment_stats {
  grid-column: 3;
  text-align: right;
}
.share_stats {
  grid-column: 4;
  text-align: center;
}
.post_author-dp {
  margin-top: 5px;
  margin-right: 10px;
  width: 33px;
  height: 33px;
}
.post_author-dp > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.create_post-actions {
  height: 50px;
  display: flex;
  align-items: center;
}
.create_post-actions > button {
  margin-left: 20%;
  padding: 8px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.extra_content {
  display: flex;
}
.extra_content > button {
  width: 40px;
  border: none;
  background-color: inherit;
  color: rgb(213, 80, 80);
  font-size: 25px;
}
.post_display-main {
  margin: 0 20%;
}
