.profile_display {
  width: 100%;
  min-height: 500px;
  margin: 20px auto;
  position: relative;
}
.cover_photo {
  width: 100%;
  height: 400px;
  position: relative;
}
.profile_content {
  background-color: var(--web-splash);
  width: 100%;
  padding: 4rem 1.5rem 2rem 1.5rem;
  color: var(--text-color);
}
.profile_content > span {
  color: var(--secondary);
}
.profile_user {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.user_content {
  background-color: var(--text-color);
}
.profile_photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  position: absolute;
  top: 300px;
  left: 20px;
  z-index: 9;
  cursor: pointer;
}
.image-upload > input {
  display: none;
}

.profile_picture-display {
  height: 400px;
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center; */
  position: relative;
  transition: all 1s ease 0s;
}
.profile_picture-display > input {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: auto !important;
  width: auto !important;
  overflow: auto !important;
  opacity: 0;
}
.profile_picture-display > div:not(.image-upload) {
  height: 100%;
  transition: all 0.7s ease 0s;
}
.profile_picture-display > div > img {
  width: 100%;
  height: 100%;
}
.profile_picture-display > div:hover:not(.image-upload) {
  filter: brightness(50%);
}
.image-upload {
  height: 100%;
}
.image-upload div {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  border: none;
  background-color: var(--web-splash);
  transition: all 0.3s ease 0s;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}
.image-upload div:hover {
  background-color: var(--secondary);
}
.image_upload-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  position: relative;
}
.image_upload-content > div:not(.image-upload) {
  padding: 30px;
}
.image_preview {
  height: auto;
  width: 100%;
}
.bottom {
  width: 100%;
  height: 45px;
  padding: 5px;
}
