.right_sidebar {
  grid-area: rside;
  background-color: var(--splash);
  position: fixed;
  width: 24%;
  right: 0;
  overflow: auto;
  /* box-shadow: var(--div-shadows); */
}
.right_sidebar > h3 {
  color: var(--secondary);
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right_sidebar > h3 > img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.right_sidebar > li {
  color: var(--text-color);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 14px 20px;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  transition: all 0.2s ease 0s;
}
.right_sidebar > li:hover {
  background-color: var(--web-splash);
}
.right_sidebar > li:last-child {
  border: none;
}
.right_sidebar > li > p {
  flex: 3;
  margin: 0;
}
.right_sidebar > li > img {
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.right_sidebar > li > span {
  height: 8px;
  width: 8px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  top: 49px;
  left: 50px;
}
